:root {
  --title-semibold: 24px/32px 600 'Montserrat', sans-serif;
  --title-small-semibold: 20px/24px 600 'Montserrat', sans-serif;
  --main-regular: 14px/20px 'Open Sans', sans-serif;
  --main-semibold: 14px/20px 600 'Open Sans', sans-serif;
}
