.btn {
  padding: 6px 12px;
  font: var(--main-semibold);
  border-radius: 4px;
}

.fill {
  color: var(--text-neutral-inverse);
  background-color: var(--background-button-primary);
}

.outline {
  color: var(--text-neutral-main);
  background-color: var(--background-button-default);
  border: 1px solid var(--border-neutral-default);
}
