.btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  position: sticky;
  top: 50px;
  background-color: var(--background-button-default);
  z-index: 1;
}

.mobileMenu {
  position: fixed;
  top: 6px;
  left: 10px;
  z-index: 10;
}

.none {
  transition: box-shadow 0.3s ease-in-out;
}

.fixed {
  box-shadow: 0 4px 4px rgba(0 0 0/ 4%);
  transition: box-shadow 0.3s ease-in-out;
}

.subBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subBtns > p {
  font: var(--title-small-regular);
  color: var(--text-neutral-main);
  margin-right: 16px;
}

.btns > :first-child {
  margin-right: 4px;
}

@media (min-width: 320px) {
  .subBtns {
    width: 100%;
  }

  .btnShow {
    width: 100%;
    position: absolute;
    display: flex;
    left: 0;
    transition: 0.4s;
  }

  .btnShow > div,
  .btnHide > div {
    width: 100%;
  }

  .btnHide {
    width: 100%;
    position: absolute;
    display: flex;
    left: -100%;
    transition: 0.4s;
  }
}

@media (min-width: 768px) {
  .subBtns {
    width: auto;
  }
}
