.searchWrapper {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background: white;
}

.searchWrapper > input[type='search'] {
  margin-right: 10px;
}

.list {
  margin: 10px 0;
}
